h1{
    margin-left:400px;
    margin-top:25px;
}

.form{
    width: 500px;
    height: 200px;
    margin-top: 25px;
    margin-left: 400px;
    background-color: grey;
    padding: 20px;
}
.username{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 40px;
}
.username input{
    width: 300px;
    height: 25px
}
.password{
    margin-left: 43px;
    margin-bottom: 20px;
 
}
.password input{
    width : 300px;
    height: 25px;
}
.tombol input{
    width: 100px;
    height: 25px;
    margin-left: 110px;
    background-color: lightblue;
}